VITE_APP_BASE_URL=https://test.hasapp.online
VITE_DEV_PROXY_TARGET=
VITE_HMR_HOST=
VITE_ALLOWED_HOSTS=
VITE_APP_NAME=Hasapchy

VITE_REVERB_APP_KEY=hasapchy-key
VITE_REVERB_HOST=test.hasapp.online
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https

VITE_DEFAULT_COMPANY_ID=1
